{
  "$schema": "https://raw.githubusercontent.com/jetify-com/devbox/0.17.0/.schema/devbox.schema.json",
  "packages": [
    "bazelisk@latest",
    "github@latest",
    "gh@latest",
    "direnv@latest",
  ],
  "shell": {
    "init_hook": [
      "echo 'Welcome to devbox!' > /dev/null"
    ],
    "scripts": {
      "test": [
        "bazel test //..."
      ]
    }
  }
}
